/*
* File: sytle.css
* Author: Varga Vivien
* Copyright: 2023, Vivien
* Group: Szoft I-2 E
* Date: 2023-03-07
* Github: https://github.com/VivienCarmen/gepida.git

*/
.about{
    background-color: aqua;
    text-align: center;
    position: absolute;
    top: 90px;
    right: -50px;
    width: 300p;
    transform: rotate(55deg);
    border-top: 3px solid blue;
    border-bottom: 3px solid navy;
    border-radius: 2px;
}
.idezet{
    color: royalblue;
    width: 320px;
    padding: 10px;
    border: 5px solid rgb(142, 250, 18);
    border-radius: 10px;
    text-align: center;
    
}

.fejlec{
    color: rgb(0, 0, 255);
    text-align: center ;
    size: 10px;
}
    